__pycache__
data/qm9_perm.pt
data/qm9_sort.pt
data/zinc250k_perm.pt
data/zinc250k_sort.pt
results
einsum
cms
gridsearch.log

qm9.pdf
qm9.tab

train.pdf
train.tex




models/graphspn_marg.py
models/moflow.py
models/graphspn_back.py

config/qm9/graphspn_back_none.json
config/qm9/moflow.json

config/zinc250k/graphspn_back_none.json
config/zinc250k/graphspn_zero_none.json
config/zinc250k/moflow.json
